
@charset "utf-8";
/*====================================================================

	Contents CSS

====================================================================*/
html{
	font-size: 62.5%;
}

body{
	font-size: 1.0rem;
	line-height: 1.5em;
}
